<form #registerForm="ngForm" (ngSubmit)="register()" class="rtl">
    <h4 class="text-center text-dark">شريكك في الحياة بإنتظارك</h4>
    <hr>
  
    <div class="form-group">
     <input name="username" required [(ngModel)]="model.username" name="username"  type="text" class="form-control" placeholder="إسم المشترك">
    </div>

    <div class="form-group">
     <input name="password" required [(ngModel)]="model.password" name="password"  type="password" class="form-control" placeholder="كلمة السر">
    </div>
  
    <div class="form-group text-center">
      <button class="btn btn-primary btn-lg" type="submit">إشتراك</button>
      <button (click)="cancel()" class="btn btn-primary btn-lg ml-2" type="button">ليس الأن</button>
    </div>
  
  </form> 